<h1>Welcome to My App</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success' %>
<% end %>
